header .container .menu-bars {
    border: none;
    font-size: 25px;
    background-color: transparent;
    color: #191919;
  }
  @media (min-width: 992px) {
    header .container .menu-bars {
      display: none;
    }
  }