.showcase {
    background-color: #F0EFE9;
    background-image: url('../../assets/images/image-linestwo.svg');
    background-repeat: no-repeat;
    background-position: -2% 102%;
  }
  @media (max-width: 576px) {
    .showcase {
      background-image: none;
    }
  }
  .showcase .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .showcase .container .content {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
  }
  @media (min-width: 1200px) {
    .showcase .container .content {
      text-align: left;
    }
  }
  .showcase .container .content h1 {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 40px;
  }
  @media (min-width: 768px) {
    .showcase .container .content h1 {
      font-size: 70px;
    }
  }
  @media (min-width: 1200px) {
    .showcase .container .content h1 {
      font-size: 86px;
    }
  }
  .showcase .container .content p {
    font-size: 16px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }
  @media (min-width: 768px) {
    .showcase .container .content p {
      font-size: 20px;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .showcase .container .content a {
    margin-right: 0px;
    display: block;
    margin-bottom: 20px;
  }
  @media (min-width: 768px) {
    .showcase .container .content a {
      display: inline-block;
      margin-right: 10px;
    }
  }
  @media (max-width: 576px) {
    .showcase .container .content a {
      width: 250px;
      margin-left: 3.5rem;
    }
  }
  .showcase .container img {
    margin-right: -50px;
    display: none;
  }
  @media (min-width: 1200px) {
    .showcase .container img {
      display: block;
    }
  }